menu: [
  label: "Packages",
  submenu: [
    label : "Simple Copy Path"
    submenu: [
      {
        label: "Copy Project Path"
        command: "copy-project-relative-path"
      }
      {
        label: "Copy Full Path"
        command: "copy-full-path"
      }
    ]
  ]
]
"context-menu":
  "atom-workspace": [
    {
      label: "Copy Project Path"
      command: "copy-project-relative-path"
    }
    {
      label: "Copy Full Path"
      command: "copy-full-path"
    }
  ]
  ".tab.copy-path": [
    {type: 'separator'}
    {
      label: "Copy Project Path"
      command: "copy-project-relative-path"
    }
    {
      label: "Copy Full Path"
      command: "copy-full-path"
    }
  ]
